.git
.idea
.vscode
.air
.cursor
.gemini
**/.env
**/.env.*
!**/.env.example
**/*.log

**/node_modules
**/dist
**/coverage
**/test-results
**/playwright-report
**/*.tsbuildinfo
**/.gradle
**/.kotlin
**/build
!apps/user-api/build
!apps/user-api/build/install
!apps/user-api/build/install/**
!apps/fitness-api/build
!apps/fitness-api/build/install
!apps/fitness-api/build/install/**
!apps/rss-api/build
!apps/rss-api/build/libs
!apps/rss-api/build/libs/**
