.git
.idea
.vscode
.air
.cursor
.gemini
**/.env
**/.env.*
!**/.env.example
**/*.log

**/node_modules
**/dist
**/coverage
**/test-results
**/playwright-report
**/*.tsbuildinfo
**/.gradle
**/.kotlin
**/build
!apps/user-api/build
!apps/user-api/build/install
!apps/user-api/build/install/**
